:root {
  --dark-blue: rgba(71, 61, 139, 0.489);

  --green: seagreen;
  --purple: #6691ff;
  --orange: saddlebrown;
  --blue: slateblue;

  --background-color: #000000;
  --background-transparent: rgba(255, 255, 255, 0.05);
  --primary-color: #6691ff;
  --secondary-color: #ffe247;
  --text-color: #eeeeee;
  --text-color-muted: rgba(255, 255, 255, 0.7);
  --header-underline: rgba(71, 61, 139, 0.5);
  --gradient:
    hsl(270deg 100% 7%) 61%, hsl(212deg 51% 21%) 97%, hsl(198deg 40% 34%) 101%,
    hsl(184deg 22% 50%) 102%, hsl(159deg 28% 72%) 101%,
    hsl(104deg 100% 95%) 100%;

  --primary-font: 'Roboto Mono', monospace;
  --weight-bold: 700;
  --weight-reg: 400;
  --size-reg: 16px;

  --border-radius: 8px;
}

.default-theme {
  --background-color: #000000;
  --background-transparent: rgba(255, 255, 255, 0.05);
  --primary-color: #6691ff;
  --secondary-color: #ffe247;
  --text-color: #eeeeee;
  --header-underline: rgba(71, 61, 139, 0.5);
  --gradient:
    hsl(270deg 100% 7%) 61%, hsl(212deg 51% 21%) 97%, hsl(198deg 40% 34%) 101%,
    hsl(184deg 22% 50%) 102%, hsl(159deg 28% 72%) 101%,
    hsl(104deg 100% 95%) 100%;
}

.orange-theme {
  --background-color: #1a0000;
  --background-transparent: rgba(255, 240, 220, 0.1);
  --primary-color: var(--orange);
  --secondary-color: #ffd47f;
  --text-color: #fff0e6;
  --header-underline: rgba(255, 153, 102, 0.2);
  --gradient:
    hsl(20deg 100% 7%) 61%, hsl(30deg 100% 21%) 97%, hsl(40deg 100% 34%) 101%,
    hsl(50deg 100% 50%) 102%, hsl(60deg 100% 72%) 101%, hsl(70deg 100% 95%) 100%;
}

.blue-theme {
  --background-color: hsl(248, 53%, 58%);
  --background-transparent: rgba(220, 255, 255, 0.1);
  --primary-color: var(--blue);
  --secondary-color: #80ffff;
  --text-color: #e6ffff;
  --header-underline: rgba(102, 255, 255, 0.2);
  --gradient:
    hsl(200deg 100% 7%) 61%, hsl(210deg 100% 21%) 97%,
    hsl(220deg 100% 34%) 101%, hsl(230deg 100% 50%) 102%,
    hsl(240deg 100% 72%) 101%, hsl(250deg 100% 95%) 100%;
}

.green-theme {
  --background-color: hsl(142, 53%, 58%);
  --background-transparent: rgba(220, 255, 220, 0.1);
  --primary-color: var(--green);
  --secondary-color: #80ff80;
  --text-color: #e6ffe6;
  --header-underline: rgba(102, 255, 102, 0.2);
  --gradient:
    hsl(120deg 100% 7%) 61%, hsl(130deg 100% 21%) 97%,
    hsl(140deg 100% 34%) 101%, hsl(150deg 100% 50%) 102%,
    hsl(160deg 100% 72%) 101%, hsl(170deg 100% 95%) 100%;
}

html,
body {
  font-family: var(--primary-font);
  font-weight: var(--weight-reg);
  font-size: var(--size-reg);
  line-height: 1.4;
}

body {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

.root {
  display: block;
  position: relative;
}

.root:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 100vh;
  opacity: 0.85;
  background-image: linear-gradient(130deg, var(--gradient));
  z-index: -1;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  text-underline-offset: 0.25rem;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(
    --header-underline
  ); /* Optional: Sets the color of the dashed line */
  text-decoration-thickness: 2px;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

header,
nav,
main {
  width: 100%;
}

main,
.container {
  position: relative;
  padding: 0 1rem;
  box-sizing: border-box;
}

.site-wrapper,
.container {
  max-width: 60rem;
}

.container {
  display: flex;
  width: 100%;
}

main {
  min-height: calc(100vh - 16rem);
  margin-bottom: 3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100vw;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.8rem;
  border-top: 1px solid rgba(71, 61, 139, 0.21);
}

a {
  color: var(--primary-color);
  font-weight: var(--weight-bold);
  text-decoration: none;
}

a svg {
  display: inline;
  vertical-align: middle;
  margin-left: 0;
  font-size: inherit;
  height: 1rem;
  width: 1rem;
}

a:has(svg) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

pre {
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  /* color: var(--primary-color); */
  overflow-x: auto;
}

p {
  margin-top: 0;
}

img {
  border-radius: var(--border-radius);
}

.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -200rem;
  width: 0;
  white-space: nowrap;
}

.focus-only {
  padding: 1rem;
  display: block;
  position: absolute;
  left: -200rem;
  background-color: black;
  z-index: 9999;
}

.focus-only:focus {
  left: 1rem;
  top: 1rem;
}

.site-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1.5rem 0 4rem;
  padding: 0 0 1.5rem;
  position: relative;
  border-bottom: 1px solid var(--header-underline);
}

.site-header .home-link {
  font-size: inherit;
  margin-top: 0;
}

.home-link:not(:hover) {
  color: white;
}

.primary-navigation,
.error-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.navigation-items a:not(:hover) {
  color: white;
}

.navigation-item--current a:not(:hover),
.navigation-item--current:not(:hover) {
  color: var(--primary-color);
}

.navigation-item--home {
  font-style: italic;
}

.navigation-item {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.navigation-item:first-of-type {
  margin-left: 0rem;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.error-content {
  text-align: center;
  margin: 3rem 0 5rem;
}

.error-content h1 {
  margin-top: 0;
  padding-top: 0;
}

.shape {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.shape path {
  /* fill: var(--secondary-color); */
  opacity: 0.2;
}

.bottom-link {
  display: block;
  text-align: center;
}

@media screen and (min-width: 400px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }

  /* .site-header {
    flex-direction: row;
  } */

  .primary-navigation,
  .error-page {
    justify-content: flex-end;
  }

  .navigation-item {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .navigation-item:first-of-type {
    margin-left: 0.8rem;
  }
}

@media screen and (min-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }

  .navigation-item {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .navigation-item:first-of-type {
    margin-left: 0.8rem;
  }
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-transparent);
  border-radius: 0.5rem;
  margin: 1rem 0;
  box-shadow: var(--shadow);
  list-style-type: none;
}

.card.row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pill {
  width: fit-content;
  display: block;
  padding: 0.2rem 0.6rem;
  border: 2px solid var(--background-transparent);
  background-color: var(--background-transparent);
  border-radius: 0.15rem;
  font-size: 0.85rem;
  margin-right: 0.5rem;
  font-weight: var(--weight-bold);
}

.columns {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.theme-toggle {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, auto);
  gap: 0.25rem;
  /* position: fixed; */
  z-index: 9;
  left: 0.5rem;
  top: 50vh;
  margin-right: 0.75rem;
  padding-right: 0.75rem;
  border-right: 1px solid var(--header-underline);
}

.theme-switch {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.theme-default-button {
  background-color: var(--purple);
}
.theme-orange-button {
  background-color: var(--orange);
}
.theme-blue-button {
  background-color: var(--blue);
}
.theme-green-button {
  background-color: var(--green);
}

@media screen and (min-width: 700px) {
  .columns {
    flex-direction: row;
  }
}

.sideBar {
  min-width: 22rem;
}

@keyframes blink-underline {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
