:root {
  --background-color: #000000;
  --primary-color: #6691ff;
  --secondary-color: #ffe247;
  --text-color: #eeeeee;

  --primary-font: 'Roboto Mono', monospace;
  --weight-bold: 700;
  --weight-reg: 400;
  --size-reg: 18px;
}

html,
body {
  font-family: var(--primary-font);
  font-weight: var(--weight-reg);
  font-size: var(--size-reg);
  line-height: 1.4;
}

body {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

header,
nav,
main {
  width: 100%;
}

main,
.container {
  position: relative;
  padding: 0 1rem;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 16rem);
  margin-bottom: 3rem;
}

footer {
  padding: 1rem 0;
  font-size: 0.8rem;
}

a {
  text-transform: lowercase;
  color: var(--primary-color);
  font-weight: var(--weight-bold);
}

a:hover {
  color: var(--secondary-color);
}

pre {
  font-size: 0.9rem;
  padding: 0.8rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--secondary-color);
  overflow-x: auto;
}

p {
  margin-top: 0;
}

.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -200rem;
  width: 0;
  white-space: nowrap;
}

.focus-only {
  padding: 1rem;
  display: block;
  position: absolute;
  left: -200rem;
  background-color: black;
  z-index: 9999;
}

.focus-only:focus {
  left: 1rem;
  top: 1rem;
}

.site-wrapper {
  max-width: 45.3125rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 2rem 0 4rem;
}

.site-header .home-link {
  font-size: inherit;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.home-link:not(:hover) {
  color: white;
}

.primary-navigation,
.error-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.navigation-items a:not(:hover) {
  color: white;
}

.navigation-item--current a:not(:hover),
.navigation-item--current:not(:hover) {
  color: var(--primary-color);
}

.navigation-item--home {
  font-style: italic;
}

.navigation-item {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.navigation-item:first-of-type {
  margin-left: 0rem;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.error-content {
  text-align: center;
  margin: 3rem 0 5rem;
}

.error-content h1 {
  margin-top: 0;
  padding-top: 0;
}

.shape {
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -50px;
}

.shape path {
  /* fill: var(--secondary-color); */
  opacity: 0.2;
}

.bottom-link {
  display: block;
  text-align: center;
}

@media screen and (min-width: 400px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }

  /* .site-header {
    flex-direction: row;
  } */

  .primary-navigation,
  .error-page {
    justify-content: flex-end;
  }

  .navigation-item {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .navigation-item:first-of-type {
    margin-left: 0.8rem;
  }
}

@media screen and (min-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }

  .navigation-item {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  .navigation-item:first-of-type {
    margin-left: 0.8rem;
  }
}
