.grid {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.grid-wrapper {
  min-height: 100vh;
}

.grid-item img {
  max-width: 100%;
  width: auto;
  height: 100%;
  margin: 0;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.grid-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.grid-item a {
  display: flex;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .grid-two-column {
    grid-template-columns: 1fr 1fr;
  }
}
