.home-content {
  position: relative;
  z-index: 2;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.intro-pic {
  width: 6.4rem;
  height: 6.4rem;
  margin-right: 1.2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.intro-text p {
  font-weight: var(--weight-bold);
  margin-bottom: 0;
}

.home-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.home-post-date {
  color: white;
  font-size: 0.9rem;
  font-weight: var(--weight-reg);
  text-decoration: none;
  margin-top: 0.5rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  display: block;
}

.home-post-excerpt {
  font-size: 0.875rem;
}

.links-list {
  gap: 0.25rem;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  font-size: 0.875rem;
}

.info span {
  color: var(--text-color-muted);
  font-style: italic;
}

.info-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.25rem;
}

@media screen and (min-width: 700px) {
  .intro {
    align-items: flex-end;
  }

  .intro-pic {
    margin-bottom: 0;
  }
}
