.home-content {
  position: relative;
  z-index: 2;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.intro-pic {
  width: 9rem;
  margin-right: 1.2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.intro-text p {
  font-weight: var(--weight-bold);
  margin-bottom: 0;
}

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
}

.post {
  text-transform: lowercase;
  margin-bottom: 2rem;
}

.post a {
  text-decoration: none;
}

.post-title {
  text-decoration: underline;
}

.post-date {
  color: white;
  font-size: 0.9rem;
  font-weight: var(--weight-reg);
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .intro {
    flex-direction: row;
    align-items: flex-end;
  }

  .intro-pic {
    margin-bottom: 0;
  }
}
